doctype html

html(lang="en")
head
    title Ajax Search Example
    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="/js/main.js")
    
    body
        h2 Simple Form
        input#title(type="search", placeholder="title")
        button#button(type='button') Search
        div#results
